.nice-nav-link {
    font-weight: bold;
    color: white !important;
}
.banner_content {
    font-family: 'Poppins', sans-serif !important;
}
.overlay {
    margin-top: 8vh;
    background: url('/image/bg.jpg') !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: cover !important;
    height: 80vh;
    border-radius: 80px;
}

#overlay:before {
    content: "";
    display: block;
    position: absolute;
    border-radius: 100% 50%;
    width: 340px;
    height: 80px;
    background-color: white;
    right: -5px;
    top: 40px;
  }
  #overlay:after {
    content: "";
    display: block;
    position: absolute;
    border-radius: 100% 50%;
    width: 300px;
    height: 80px;
    background-color: #e0efe3;
    left: 0;
    top: 27px;
  }

  .position{
      top: 80vh;
      border-radius: 50px;
  }

  .hotel_booking_table
  {
      background: white;
      height: 25vh;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
  }

  .banner_area {
    background-color: white !important; 
    color: black !important;
    padding: 100px;
  }

  @media only screen and (max-width: 600px) {
    .banner_area {
        padding: 0px;
        
      }

    .overlay {
        border-top-left-radius: 0px !important;
        border-top-right-radius: 0px !important;
        padding-top: 0px !important;
    }

    .booking_table{
        min-height: 0px;
    }
    .position{
        top: -80px;
        background: transparent !important;
    }
  }

  .icon-nice{
    border-radius: 100%; 
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }